body {
    margin: 0px;
    padding: 0;
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
